.nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.bcBlack {
    background-color: #000;
}

.logo {
    font-weight: 700;
    color: #ff0000;
    text-decoration: none;
}

.searchBtn {
    background-color:transparent;
    border: none;
}

.searchBtn svg {
    width: 25px;
}